.env
node_modules/
.env.production.example
stream-sell-*.json
service-account*.json
*-iam*.json
*.service-account.json
client_secret_644454908483-j1p3b4kehp0f5mnad7ptn5nvio4i3kmf.apps.googleusercontent.com.json